.content_light {
    background-color: #f7f7f7;
}

.sub-header {
    font-size: 14px;
    color: #787878;
    background-color: #f7f7f7;
}

.sub-header__items {
    display: inline-block;
    float: right;
    background-color: #f1f1f1;
}

.sub-header__item {
    display: inline-block;
    padding: 12px 16px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    &:first-child,
    &:last-child {
        border: none;
    }
}

.sub-header__item_email {
    text-decoration: underline;
}

.main-header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}

.main-header__logo {
    display: inline-block;
    max-width: 95%;
    margin-top: 4px;
}

.main-header__phone {
    display: block;
    text-align: right;
    font-weight: 900;
    font-size: 18px;
    color: #595959;
}

.main-header__call {
    display: block;
    text-align: right;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    color: #5f98c0;
}

.main-slider {
    color: #ffffff;
}

.main-slider__linked {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-slider__links {
    max-width: 1170px;
}

.main-slider__link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 28px 16px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(93, 151, 191, 0.6);
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: rgba(93, 151, 191, 0.9);
    }
}

.about-slider {
    padding-top: 66px;
    padding-bottom: 66px;
    text-align: center;
}

.about-slider__title {
    display: block;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4e4e4f;
}

.about-slider__links {
    display: flex;
    justify-content: center;
}

.about-slider__link {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    color: #373737;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        text-decoration: none;
        color: #5f98c0;
    }
    img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    span {
        display: block;
    }
}

.home-license {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #5d97bf;
}

.home-license__title {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}

.home-license__cards {
    display: block;
}

.home-license__card {
    display: inline-block;
    margin-left: 40px;
    margin-right: auto;
    img {
        transition: all 0.2s ease-out;
        &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
        }
    }
    span:hover {
        img {
            box-shadow: none;
        }
    }
    &:hover {
        span {
            transform: scale(1.2);
        }
    }
}

.card__loop {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -100px;
    margin-left: 50px;
    background-image: url('../images/loop-light.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-review {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #f7f7f7;
    background-image: url('../images/review-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-review__title {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4e4e4f;
}

.home-review__cards {
    display: block;
}

.home-review__card {
    display: inline-block;
    margin-left: 40px;
    margin-right: auto;
    img {
        transition: all 0.2s ease-out;
        &:hover {
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        }
    }
    span:hover {
        img {
            box-shadow: none;
        }
    }
    &:hover {
        span {
            transform: scale(1.2);
        }
    }
}

.card__loop {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -100px;
    margin-left: 50px;
    background-image: url('../images/loop-light.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card__loop_dark {
    background-image: url('../images/loop-dark.png') !important;
}

.home-videos {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f7f7f7;
}

.home-videos__title {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4e4e4f;
}

.home-article {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 14px;
    color: #595959;
    background-color: #ffffff;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 25px;
    }
    h3 {
        font-size: 24px;
    }
}

.home-article__content {
    font-size: 14px;
    color: #595959;
    ul {
        padding-left: 20px !important;
    }
}

.main-footer {
    background-color: transparent;
}

.main-footer__content {
    padding-top: 52px;
    padding-bottom: 52px;
    border-top: 1px solid #5d97bf;
    border-block-end: 1px solid #5d97bf;
    font-size: 14px;
    color: #5d97bf;
}

.main-footer__logo {
    display: block;
    width: 100%;
}

.main-footer__soc {
    display: inline-block;
    margin-top: 20px;
}

.main-footer__content_row {
    display: block;
    margin-bottom: 5px;
}

.main-footer__content_row_email {
    text-decoration: underline;
}

.main-footer__creators {
    padding-bottom: 30px;
    text-align: center;
    a {
        font-size: 12px;
        text-decoration: underline;
        color: #8b8787;
        &:hover {
            text-decoration: none;
            color: #5d97bf;
        }
    }
}

.main-sidebar {
    display: block;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-right: 15px;
    padding: 0;
    background-color: #ffffff;
    li {
        display: block;
        padding: 14px;
        border-bottom: 1px solid #efefef;
        list-style: none;
        &:last-child {
            border-bottom: 0;
        }
        a {
            display: block;
            font-size: 12px;
            color: #2e2e2e;
            transition: all 0.2s ease-out;
            &:hover {
                text-decoration: none;
                color: #39729a;
            }
        }
    }
}

.main-sidebar__drop {
    display: block;
    //margin-top: 10px;
    padding-left: 20px;
    li {
        border: none;
        padding: 5px;
        a {
            font-size: 11px;
            text-decoration: underline;
            color: #2e2e2e;
        }
    }
}

.main__breadcrump {
    display: block;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 12px;
    color: #2e2e2e;
    a {
        font-size: 12px;
        text-decoration: underline;
        color: #2e2e2e;
        &:hover {
            text-decoration: none;
            color: #1c90ca;
        }
    }
    span {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
        color: #1c90ca;
    }
}

.main__title {
    display: block;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4e4e4f;
}

.features__cards {
    display: block;
}

.features__card {
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px 35px;
    overflow: hidden;
    font-size: 12px;
    color: #2e2e2e;
    background-color: #ffffff;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        text-decoration: none;
        color: #39729a;
        box-shadow: 13px 13px 9px rgba(0, 0, 0, 0.2);
    }
}

.features__card_slider {
    padding: 12px 14px;
    height: 50px;
    &:hover {
        box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.2);
    }
}

.feature__article {
    display: block;
    font-size: 14px;
    color: #595959;
    .col-md-12 {
        margin-bottom: 80px;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
}

.article_quot {
    display: block;
    padding: 14px 8px;
    border-left: 4px solid #5c96bf;
    font-weight: bold;
    font-size: 14px;
    color: #595959;
}

.projects__cards {
    display: block;
    margin-bottom: 80px;
}

.projects__card {
    display: block;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        text-decoration: none;
        color: #39729a;
        box-shadow: 13px 13px 9px rgba(0, 0, 0, 0.2);
        span {
            color: #2e2e2e;
        }
    }
    img {
        height: 155px;
        object-fit: cover;
    }
    span {
        display: flex;
        align-items: center;
        height: 80px;
        padding: 16px 30px;
        overflow: hidden;
        font-size: 16px;
        color: #39729a;
    }
}

.news__cards {
    display: block;
    margin-bottom: 80px;
}

.news__card {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.5;
    color: #4e4e4f;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease-out;
    &:hover {
        text-decoration: none;
        box-shadow: 13px 13px 9px rgba(0, 0, 0, 0.15);
        span {
            color: #2e2e2e;
        }
    }
    img {
        width: 95%;
        height: auto;
        object-fit: cover;
    }
    span {
        display: block;
        align-items: center;
        margin-bottom: 10px;
        overflow: hidden;
        font-size: 18px;
        color: #39729a;
    }
}