@media (max-width: 1200px) {
    .nav>li>a {
        padding: 8px;
    }
    .main-header__phone {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .sub-header {
        font-size: 12px;
    }
    .sub-header__item {
        padding: 4px 8px;
    }
    .main-header__logo {
        width: 30%;
        margin-top: 10px;
        margin-left: 35%;
        margin-right: auto;
    }
    .navbar-nav {
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .main-header>.container>.row>.col-md-8 {
        display: flex;
        justify-content: center;
    }
    .main-header__phone {
        text-align: center;
    }
    .main-header__call {
        text-align: center;
    }
    .about-slider__links {
        flex-flow: row wrap;
    }
    .about-slider__link {
        margin-bottom: 10px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 40px;
    }
    @-moz-document url-prefix() {
        #main-slider img {
            height: 450px !important;
        }
    }
}

@media (max-width: 768px) {
    .sub-header__item {
        border: none;
    }
    .sub-header__items {
        display: block;
        float: none;
        text-align: center;
    }
    .main-header__logo {
        width: auto;
        margin-left: 5%;
        margin-right: auto;
    }
    .about-slider__links {
        flex-flow: column wrap;
    }
    .main-footer__content {
        text-align: center;
        span {
            text-align: center;
        }
    }
    .main-footer__logo {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .main-footer__soc {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .carousel-caption {
        top: 0;
        left: 20%;
        right: 20%;
        bottom: 0;
    }
    #about-slider>.carousel-inner>.item>img {
        height: 250px;
    }
    .main__breadcrump {
        margin-left: 20px;
    }
    .main__title {
        margin-left: 20px;
    }
    .features__card {
        margin-left: 15px;
    }
    .projects__card {
        margin-left: 15px;
    }
    .projects__cards {
        margin-bottom: 20px;
    }
    .news__cards {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .main-sidebar {
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .feature__article {
        padding-left: 15px;
        padding-right: 15px;
        .col-md-12 {
            margin-bottom: 20px;
        }
    }
    #features-slider {
        margin-left: 0;
    }
    #about-slider {
        display: block;
    }
    .about-slider {
        display: none;
    }
    .about-slider_mob {
        display: block !important;
    }
    @-moz-document url-prefix() {
        .main-slider__link {
            padding: 15px;
            height: auto;
        }
        #main-slider img {
            height: 450px !important;
        }
    }

    #cssmenu {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover>ul.dropdown-menu {
        display: block;
    }
    @-moz-document url-prefix() {
        .main-slider__links {
            position: relative;
        }
    }
}

@media (max-width: 479px) {
    .home-license__card {
        margin-left: 32%;
        margin-right: auto;
    }
    .home-review__card {
        margin-left: 32%;
        margin-right: auto;
    }
}