.nav>li>a {
  padding: 16px;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  color: #595959;
  transition: all 0.2s ease-out;
}

.nav>li>a:hover,
.nav>li>a:focus {
  color: #5f98c0;
  background-color: transparent;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background-color: transparent;
}

.dropdown-menu {
  min-width: 300px !important;
  max-width: 300px;
  border: none;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#about-slider>.carousel-inner>.item>img {
  min-width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-inner>.item>img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  left: 10%;
  right: 10%;
  bottom: 0;
}

#main-slider {
  height: 430px;
}

#about-slider {
  .carousel-inner>.item>img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#features-slider {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: -15px;
}

.slick-slide img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 130px;
  height: 184px;
  object-fit: cover;
}

.main-footer_nav {
  float: none;
  text-align: center;
  color: #8b8787;
  li {
    display: inline-block;
    float: none;
    a {
      display: inline-block;
      color: #8b8787;
    }
  }
}

.main-sidebar__drop_sub {
  padding-left: 20px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 120px;
  line-height: 0.1;
  color: #d1d1d1;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: "‹";
}

[dir="rtl"] .slick-prev:before {
  content: "›";
}

[dir="rtl"] .slick-next {
  left: -10px;
  top: 40%;
  right: auto;
}

.slick-next:before {
  content: "›";
}

[dir="rtl"] .slick-next:before {
  content: "‹";
}

.lb-nav a.lb-prev {
  opacity: 0.5;
}

.lb-nav a.lb-next {
  opacity: 0.5;
}

.lb-data .lb-close {
  background-size: contain;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu {
  margin-top: 30px;
  margin-bottom: 80px;
  margin-right: 15px;
  padding: 0;
  background-color: #ffffff;
}

#cssmenu ul ul {
  display: none;
}

#cssmenu>ul>li.active>ul {
  display: block;
}

.align-right {
  float: right;
}

#cssmenu>ul>li>a {
  display: block;
  font-size: 12px;
  padding: 14px;
  color: #2e2e2e;
  transition: all 0.2s ease-out;
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  border-bottom: 1px solid #efefef;
}

#cssmenu>ul>li>a:hover {
  color: #5f98c0;
}

#cssmenu ul>li.has-sub>a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #2e2e2e;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#cssmenu ul>li.has-sub>a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #2e2e2e;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#cssmenu ul>li.has-sub.open>a:after,
#cssmenu ul>li.has-sub.open>a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#cssmenu ul ul li a {
  display: block;
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #dddddd;
  background: #49505a;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

#cssmenu ul ul ul li a {
  padding-left: 32px;
}

#cssmenu ul ul li a:hover {
  color: #ffffff;
}

#cssmenu ul ul>li.has-sub>a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}

#cssmenu ul ul>li.has-sub>a:before {
  top: 20px;
  background: #dddddd;
}