@font-face {
    font-family: Bender;
    src: url(../fonts/BenderLight.woff);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Bender;
    src: url(../fonts/BenderBold.woff);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Bender;
    src: url(../fonts/BenderBlack.woff);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: Bender;
    src: url(../fonts/BenderRegular.woff);
    font-style: normal;
    font-weight: normal;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    font-family: 'Bender', Arial, sans-serif;
    font-weight: normal;
}

@import "bower_components/slick-carousel/slick/_slick.scss";
@import "bower_components/slick-carousel/slick/_slick-theme.scss";
@import "bower_components/lightbox2/dist/css/_lightbox.scss";
// endbower
@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";